<div class="containerLogin">
  <div class="formLogin">
    <div class="containerLogo" routerLink="">
      <img src="assets/img/logoMenu.png" alt="" />
    </div>
    <input
      class="inputLogin"
      type="text"
      name=""
      id=""
      placeholder="Ingrese Su Nombre"
    />

    <input
      class="inputLogin"
      type="text"
      name=""
      id=""
      placeholder="Ingrese Su Email"
    />
    <input
      class="inputLogin"
      type="text"
      name=""
      id=""
      placeholder="Ingrese Su Contraseña"
    />
    <input
      class="inputLogin"
      type="text"
      name=""
      id=""
      placeholder="Confirmar Contraseña"
    />
    <button class="buttonLogin" type="submit">Registrarse</button>
  </div>
</div>
