<div class="containerLogin">
  <div class="formLogin">
    <div class="containerLogo" routerLink="">
      <img src="assets/img/logoMenu.png" alt="" />
    </div>


    <input
      class="inputLogin"
      type="text"
      name=""
      id=""
      placeholder="Ingrese Su Email"
      #inputEmail
    />
    <input
      class="inputLogin"
      type="text"
      name=""
      id=""
      placeholder="Ingrese Su Contraseña"
      #inputPassword
    />
    <input
      class="inputLogin"
      type="text"
      name=""
      id=""
      placeholder="Confirmar Contraseña"
    />
    <button (click)="onSubmit()" class="buttonLogin" type="submit">Registrarse</button>
  </div>
</div>
