<div class="logoMenu">
  <div class="containerLogo" routerLink="">
    <img src="assets/img/logoMenu.png" alt="" />
  </div>
  <a routerLink="menu">Menú</a>
  <a routerLink="recreacion">Recreación</a>
</div>
<div *ngIf="!auth" class="loginButtons">
  <button  class="buttonLogin" routerLink="login">Login</button>
  <button   class="buttonSignup" routerLink="signup">Sign Up</button>
</div>

<div *ngIf="auth" class="loginButtons">
  <button  class="buttonLogin" (click)='logOut()'>Log Out</button>
</div>
